section{
    min-height: 100vh;
}

.sec-2{
    background-image: url(./img/portada.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20em;
    color: white;
    font-size: 3rem;
    text-align: center;
}

.sec-4{
    background-image: url(./img/obra.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20em;
    color: white;
    font-size: 3rem;
    text-align: center;
}