/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap'); */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:'Poppins',sans-serif;
}

*before,
*after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-bg-color: rgb(255, 255, 255);
    --secondary-bg-color: rgb(255, 255, 255);
}


/*MENU CAMBIOS REALIZADO  POR CARO*/

.nav{    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    padding: 5px 15px;
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);  
    z-index: 2;
}

/*MENU CAMBIOS REALIZADO  POR CARO*/
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*MENU CAMBIOS REALIZADO  POR CARO*/
.logo img{
    width: 4rem;
    height: 4rem;
}

/*MENU CAMBIOS REALIZADO  POR CARO*/
.nav-content ul{
    list-style: none;
}

/*MENU CAMBIOS REALIZADO  POR CARO*/
.nav-content ul li{
    display: inline-block;

}
/*MENU CAMBIOS REALIZADO  POR CARO*/
.nav-content ul li a{
    /* color: #f8b208; */
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    font-family:'Poppins',sans-serif;
    transition: all 0.5s ease;
    margin-left: 40px;
    letter-spacing: 1px;
    text-decoration: none;
    /* z-index: 2; */
}
/*MENU CAMBIOS REALIZADO  POR CARO*/
.nav-content ul li a:hover{
    padding: 5px 10px;
    background:#f8b208;
    color: black;
    border-radius: 15px;
    
}
/*MENU CAMBIOS REALIZADO  POR CARO*/
.redesSociales{
    color: azure;
}

.redesSociales ul{
    float: left;
    font-size: 25px;
    padding-left: 200px;
    
}

.redesSociales ul li{
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s ease;
    color: azure;
}

.redesSociales ul li.bx{
    color: azure;
    margin-top: 20px;
    transition: all 0.5s ease;
}

.redesSociales ul li:hover .facebook{
    border-radius: 50%;
    border: 5px solid #f8b208;
    box-shadow: 0 0 15px #f8b208;
    transition: all 0.5s ease;
}

.redesSociales ul li:hover .bxl-facebook{
    border-radius: 30%;
    border: 5px solid #f8b208;
    box-shadow: 0 0 15px #f8b208;
    transition: all 0.5s ease;
}

.redesSociales ul li:hover .instagram{
    border-radius: 50%;
    border: 5px solid #f8b208;
    box-shadow: 0 0 15px #f8b208;
    transition: all 0.5s ease;
}

.redesSociales ul li:hover .bxl-instagram{
    border-radius: 30%;
    border: 5px solid #f8b208;
    box-shadow: 0 0 15px #f8b208;
    transition: all 0.5s ease;
}

.redesSociales ul li:hover .tiktok{
    border-radius: 50%;
    border: 5px solid #f8b208;
    box-shadow: 0 0 15px #f8b208;
    transition: all 0.5s ease;
}

.redesSociales ul li:hover .bxl-tiktok{
    border-radius: 30%;
    border: 5px solid #f8b208;
    box-shadow: 0 0 15px #f8b208;
    transition: all 0.5s ease;
}

.redesSociales ul li:hover .whatsapp{
    border-radius: 50%;
    border: 5px solid #f8b208;
    box-shadow: 0 0 15px #f8b208;
    transition: all 0.5s ease;
}

.redesSociales ul li:hover .bxl-whatsapp{
    border-radius: 30%;
    border: 5px solid #f8b208;
    box-shadow: 0 0 15px #f8b208;
    transition: all 0.5s ease;
}


.grua{
    background-color: black;
    border-radius: 100%;    
    width: 4rem;
    height: 4rem;
}

.grua img{
    width: 4rem;
    height: 4rem;
    z-index: 2;
}

.home-content{
    background-image: url(./img/portada\ 0.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.presentacion{   
    min-height: 100vh;    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.presentacion img{
    margin-top: 3rem;
    padding: 1rem;
    width: 65%;
}

section{
    min-height: 100vh;
}

.nostros-content{
    background-image: url(./img/crear-una-constructora-guia-completa.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info {
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(0.4rem);
}
.titulo{
    font-size: 2rem;
    margin: 1.8rem;
    text-align: center;    
}

.nosotros-img img{
    width: 20%;
    /* margin: 1.8rem; */
}

.nosotros-texto{
    margin: 1.8rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.datos-construccion{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.6);
}

.datos-construccion-box{
    text-align: center;
}

.datos-construccion-box .numero{
    font-size: 3rem;
    font-weight: 900;
    color: #f8b208;
    padding: 1rem;
}

.datos-construccion-box .titulo-tarjeta{    
    font-weight: 900;
    color: #f8b208;
    padding: 1rem;
}

.servicios-content{
    background-color: var(--primary-bg-color);
    padding: 3rem 2rem;
}

.servicios-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.servicios-container .servicios-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.servicios-box img{
    width: 80%;
    transition: .5s ease;
}

.servicios-box:hover img{
    transform: scale(1.5);
}

.servicios-box .servicios-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.555), var(--primary-bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5 ease;
}

.servicios-box:hover .servicios-layer{
    transform: translateY(0);
}

.servicios-layer h4{
    font-size: 4rem;
}

.servicios-layer p{
    font-size: 1.5rem;
    margin: .3rem 0 1rem;
}

.servicios-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    color: black;
}



.header-box img{
    max-width: 100%;
    border-radius: 8px 8px 0 0;
    max-height: 200px;
    height: 200px;
    width: 100%;
}

article.novedades-content{
    max-width: 350px;
    background: rgb(206, 206, 206);
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 0 12px rgb(56, 54, 54);
}

article.novedades-content h3{
    margin: 1rem;
    text-align: center;
}

article.novedades-content p{
    margin: 1rem;
}

.novedades-conteiner{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.footer-box{
    max-height: 200px;
    height: 200px;
    text-align: center;
}


/*FOOTER CAMBIOS REALIZADO  POR CARO*/
.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15); 
    font-family:'Poppins',sans-serif;


    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
}

.footer .caja{
    flex: 1 1 25rem;

}
.logo-detalle img{
    width:50%;
    padding: 15px 15px;
}

/* .logo-detalle .footer-text.footer-right{
    display:inline-block;
    vertical-align: top;
    
 
    
} */

.logo-detalle .footer-text{
    width:50%;
    padding: 10px 15px; 
    
}
.logo-detalle .footer-text{
    color: #b5bdbd;
    font-size: 0.8rem;
    font-weight: normal;
    width: 60%; 
    /* margin: 0; */
}

.footer-right{
    width: 70%;
    padding: .5rem 0; 
    /* margin-bottom: 5px; */
}

.footer .footer-right i{
    margin: .5rem 0;
    margin-right: 1rem; 
    background-color:#33383b ;
    color: #fff;
    font-size: 1.5 rem;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align:center;
    line-height: 42px; 
   
    
    /* vertical-align: middle; */
    /* margin-bottom: 5px; */
     

}

.footer .footer-right i.bx-envelope{
    font-size: 17px; 
    line-height: 38px;
}

.footer .footer-right p{
     display: inline-block;
    color: #fff; 
    /* vertical-align: middle; */
    /* margin: 0; */
    transition: all 0.3s ease;
    
}

.footer .footer-right p:hover{
    color: #fff;
    padding-left: 6px; 

}

.footer .footer-right p a{
     color: #f8b208;
    text-decoration: none;
    transition: all 0.3s ease; 
}

.footer .footer-right p a:hover{
     color: #f8b208;
    padding-left: 6px; 
}

/*---------------------------------------------------------------------------------------------------*/



.proyectos-content{
    background-image: url(./img/imagen\ 1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    width: 100%;
    overflow: hidden;    
    padding: 3rem;
}

.galeria-img{
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
}

.galeria-img img{
    width: 100%;
    height: 160px;
    cursor: pointer;
    transition: 1s;
}

.galeria-img img:hover{
    transform: scale(1.2);
}

.imagen-full{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.imagen-full img{
    width: 90%;
    max-width: 900px;
}

.imagen-full i{
    color: #f7f7f7;
    font-size: 2rem;
    cursor: pointer;    
    margin: 1rem;
}

#x-btn{
    position: absolute;
    top: 5%;
    right: 5%;
}