*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

.logo img{
    width: 4rem;
    margin: 15px;
    position: fixed;
}

#grua-img {
    width: 5rem;
    right: 0;
    position: fixed;
}

section{
    margin: 0 1%;
    min-height: 100vh;
    border: 1px solid white;
}

.portada-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: .5rem;
    min-height: 70vh;
}

.portada-content{
    margin-top: 10rem;
}

.portada-content img{
    width: 50%;
}

.logo-completo{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #quienes-somos{
    background-color: aqua;
}

#nuestros-servicios{
    background-color: green;
} */


.nostros-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.titulo{
    font-size: 2.5rem;
    margin: 1.8rem;
    text-align: center;
}

.nosotros-img img{
    width: 20%;
    margin: 1.8rem;
}

.nosotros-texto{
    margin: 1.8rem;
    font-size: 1.2rem;
}

.servicios-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.servicios-container div{
    margin: 1.8rem;
    display: flex;
    justify-content: center;
}

/*-----------------------------------------------------------*/

button {
    background: none;
    border: none;
    /* cursor: pointer; */
    cursor: auto;
    position: relative;
  }
  
  #gruaMenu {
    /* display: none;*/
    position: fixed;
    /*top: 100%;
    left: 50%; */
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
    right: 0;

  }
  
  #gruaMenu.active {
    display: block;
    opacity: 1;
  }
  
  #gruaMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #gruaMenu li {
    text-align: right;
    margin-bottom: 10px;
  }
  
  #gruaMenu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  #gruaMenu a:hover {
    color: #007bff;
  }