*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    width: 80%;
    margin: 50px auto;
}

body{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/portada\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.galeria-img{
    width: 80%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
}

.galeria-img img{
    width: 100%;
    height: 160px;
    cursor: pointer;
    transition: 1s;
    outline: 3px solid #fff;
}

.galeria-img img:hover{
    transform: scale(1.2);
}

.imagen-full{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.imagen-full img{
    width: 90%;
    max-width: 900px;
}

.imagen-full i{
    color: #f7f7f7;
    font-size: 2rem;
    cursor: pointer;
    background-color: black;
    margin: 1rem;
}

#x-btn{
    position: absolute;
    top: 5%;
    right: 5%;
}