*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container button{
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;  
}

.container menu{
  position: fixed;
}


/* body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    position: relative;
    text-align: center;
    margin-top: 50px;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
  }
  
  #gruaMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  #gruaMenu.active {
    display: block;
    opacity: 1;
  }
  
  #gruaMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #gruaMenu li {
    margin-bottom: 10px;
  }
  
  #gruaMenu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  #gruaMenu a:hover {
    color: #007bff;
  }
  
  /* Animación del gancho */
  /* button img {
    transition: transform 0.3s ease;
  } */
  
  /* button.clicked img {
    transform: translateY(20px); 
  } */
